.test-b
  position relative
  height 100%
  box-sizing border-box
  padding-top 90px

  .header
    position absolute
    top 10px
    left 0
    right 0
    margin 0 14px
    border 1px solid #eee
    padding 14px
    box-sizing border-box

  .test-scroll-view
    max-height 100%
    border 1px solid #bbb
    box-sizing border-box
    overflow-y scroll

  .list-item
    height 200px
    display flex
    justify-content space-around
    align-items center
    font-size 24rpx
    margin 30px 14px
    border 1px solid #eee
    padding 14px

  .title
    display block
    margin 20px 0
    font-weight 600

  .btn
    display block
    width 140px
    + .btn
      margin-left 20px
